.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding:0 10rem;
}

.description{
    display:flex;
    flex-direction: column;
    align-items: flex-end;

    padding:0 5rem;
}

.description img{
    width:10vw;
}

.description p {
    padding:1rem 0;
}


@media only screen and (max-width: 750px) {
    .description{
        padding:0;
        align-items:center
    }    
}