

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding:0 6rem;
}

.title{
    display: flex;
    flex-direction: column;

    padding:1rem 0;
}

.title h1{
   
    color:#262626;
    font-size:2.5rem;
    font-weight: 700;
    line-height: 2.875rem;
}


#imageAuthor{
    width:10%;
}

,